/* Mise en forme du formulaire de contact */
.contact
{
  padding: 2%;
  width: 70%;
  margin: auto;
  border-radius: .5em;
  background-color: #f2f2f2;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', sans-serif;
}
.contact label
{
  font-weight: bold;
  color: #fc4c02;
  font-size: 1.2em;
}
.contact input, textarea
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: .5em;
  margin-bottom: 1.5em;
  resize: vertical;
}
.contact input:focus, textarea:focus
{
  outline: none;
  border-left: 3px solid #fc4c02;
  -webkit-transition: border .2s ease;
	-moz-transition: border .2s ease;
	-o-transition: border .2s ease;
	transition: border .2s ease;
}
.btn{
  text-align: center; 
}
button
{
    border: 2px solid #ff6f1c;
    border-radius: .4em;
    background-color: white;
    color: black;
    padding: .6em .7em;
    font-size: 16px;
    cursor: pointer;
}
button:hover
{
    color: white;
    background-color: #ff6f1c;
    transition: .2s;
}
/* Responsive */
@media screen and (max-width: 700px)
{
  .contact
  {
    width: 95%;
    padding: 1%;
    margin: auto;
    margin-bottom: 5%;
  }
}